$bgcolor: rgb(51, 51, 51);
$accentColor: rgb(70, 70, 70);
$defaultFont: Arial, Helvetica, sans-serif;

#body_index{
    margin: auto; 
    background-color: $bgcolor; 
    display: grid;
    justify-content: center;
    align-content: center;
}

h2, label{
    margin: 30px;
    color: white; 
    font-family: $defaultFont;
}

h2{
    grid-area: title;
}

label{
    grid-area: label;
}

#inputLogin{
    grid-area: input;
    padding: 5px;
    height: 25px; 
    margin: 10px; 
    background-color: $bgcolor; 
    color: white; 
    outline: none; 
    overflow: hidden; 
    resize: none; 
    border: 0px; 
    font-family: $defaultFont;
    border-radius: 12px;
}

#btnLogin{
    margin: 30px;
    grid-area: btn;
    color: white;
    width: 150px; 
    height: 40px; 
    border-radius: 40px; 
    border: 0px; 
    background-color: $accentColor; 
    box-shadow: black 0px 5px 10px 0px;
}

.container{
    margin: auto;
    display: grid;
    margin-top: 250px;
    justify-content: center;
    width: 400px;
    padding: 30px;
    background-color: rgb(30, 30, 30);
    box-shadow: black 0px 5px 10px 0px;

    grid-template-areas: 
        'title title'
        'label input'
        'btn btn'
    ;
}